{% extends 'base.html.twig' %}

{% block title %}Liste des ingrédients{% endblock %}

{% block body %}
    <h1>Liste des ingrédients</h1>
    <ul class="ingredients">
        {% for ingredient in ingredients %}
            <li>
                <a class="ingredient" href="{{ path('app_ingredient_show', {id: ingredient.id}) }}"><span class="nomIng">{{ ingredient.nomIng }}</span></a>
                <a href="{{ path('app_ingredient_update', {'id':ingredient.id}) }}">
                    <span class="material-symbols-outlined text-warning">edit</span>
                </a>
                <a href="{{ path('app_ingredient_delete', {'id':ingredient.id}) }}">
                    <span class="material-symbols-outlined text-danger">delete</span>
                </a>
            </li>
        {% endfor %}
        <a class="auth-button custom-size btn" href="{{ path('app_ingredient_create') }}" role="button">Créer un Ingrédient</a>
    </ul>

{% endblock %}


