{{ form_start(form) }}
    <h5 style="padding-top: 1rem">Pays</h5>
    {{ form_row(form.pays, {'attr' : {'class' : 'filter-form'}}) }}

    <h5>Région</h5>
    {{ form_row(form.region, {'attr' : {'class' : 'filter-form'}}) }}

    <h5>Type</h5>
    {{ form_row(form.typeRecette, {'attr' : {'class' : 'filter-form'}}) }}
<button type="submit" class="btn btn-primary w-100">Filtrer</button>
{{ form_end(form) }}