<a href="/recettes/{{ recette.id }}">
    <div class="recipe_info-container">
        <div class="recipe_image-container">
            <div class="recipe_image-box">
                <img  src="/recettes/{{ recette.id }}/image" alt="Image de {{ recette.nomRec }}">
            </div>
        </div>
        <div class="details-text_container">
            <h5>{{ recette.nomRec }}</h5>
            <div>{{ recette.tpsCuisson + recette.tpsDePrep }} min</div>
            <div>{{ recette.descRec }}</div>
        </div>
    </div>
</a>