{% extends 'base.html.twig' %}

{% block title %}{{ recette.nomRec }}{% endblock %}

{% block body %}
        <div name="recette">
                <div name="detail">
                        <img src="https://www.margxt.fr/wp-content/uploads/2023/07/Pokemon-Sleep-Salade-Mixte.png">
                        <div>
                                <h1> {{ recette.nomRec }}</h1>
                                <p> {{ recette.descRec }}</p>
                        </div>
                </div>
                <div name="ingredient">
                        <h2>
                                Ingredients
                        </h2>
                        <ul>
                        {% for quantite in quantites %}
                                <li>
                                        {{ quantite.quantite }}
                                        {{ quantite.unitMesure }}
                                        {{ quantite.ingrediant.nomIng }}
                                </li>
                        {% endfor %}
                        </ul>
                </div>
                <h2>Etape</h2>
                {% for etape in etapes %}
                        <ol>
                                <h3> {{ etape.numEtape }}</h3>
                                <p> {{ etape.descEtape }}</p>x
                        </ol>
                {% endfor %}
        </div>
{% endblock %}
