{% extends 'base.html.twig' %}

{% block title %}{{ recette.nomRec }}{% endblock %}

{% block body %}
        <div class="details_container">
                <div class="recipe_image-container">
                        <div class="recipe_image-box">
                                <img  src="/recettes/{{ recette.id }}/image" alt="Image de {{ recette.nomRec }}">
                        </div>
                </div>
                <span style="display: inline-block; width:1px; height:100%; background:gray; margin: 0 2px;"></span>
                <div class="details-text_container">
                        <h1> {{ recette.nomRec }}</h1>
                        <div> {{ recette.descRec }}</div>
                        <div class="details_cooking-time">
                                <span>Temps de préparation: {{ recette.tpsDePrep}} min</span>
                                <span>Temps de cuisson: {{ recette.tpsCuisson }} min</span>
                        </div>
                </div>
        </div>
                <div class="ingredient">
                        <h2 class="details_title">Ingredients</h2>
                        <ul>

                        {% for quantite in quantites %}
                                <li>
                                        {{ quantite.quantite }}
                                        {{ quantite.unitMesure }}
                                        {{ quantite.ingrediant.nomIng }}
                                </li>
                        {% endfor %}
                        </ul>
                </div>
                <h2>Etape</h2>
                <ul>
                {% for etape in etapes %}
                        <li>
                                <p>{{ etape.numEtape }}. {{ etape.descEtape }}</p>
                        </li>
                {% endfor %}
                </ul>
{% endblock %}
