{% extends 'base.html.twig' %}

{% block title %}Cuisinisi{% endblock %}

{% block body %}

    <div class="title_container">
        <h1 class="title_small-padding" id="home-page">Nos recommandations</h1>
    </div>
    <div class="recommandations_container" id="home-page">
    {% for recette in recettes %}
        <a class="recipe_container" href="/recette/{{ recette.id }}">
            <div class="recipe_image-box">
                <img class="recommandations_image" src="/recette/{{ recette.id }}/image" alt="Image de {{ recette.nomRec }}"></div>
            <div class="recipe_title-box"><h5>{{ recette.nomRec }}</h5></div>
        </a>
    {% endfor %}
    </div>
    <div class="title_container">
        <h1 class="title_small-padding" id="home-page">Recherche par type</h1>
    </div>
    <div class="type-search_container">
        <a href="/filter?typeRecette%5B%5D=1" id="search-button">
            <div class="type-search_button">
                <img class="type-search_image" src="{{ asset('img/svg/salad-dish-svgrepo-com.svg') }}">
                <span>Entrée</span>
            </div>
        </a>
        <a href="/filter?typeRecette%5B%5D=2" id="search-button">
            <div class="type-search_button">
                <img class="type-search_image" src="{{ asset('img/svg/turkey-dinner-svgrepo-com.svg') }}">
                <span>Plat</span>
            </div>
        </a>
        <a href="/filter?typeRecette%5B%5D=3" id="search-button">
            <div class="type-search_button">
                <img class="type-search_image" src="{{ asset('img/svg/cake-4-svgrepo-com.svg') }}">
                <span>Dessert</span>
            </div>
        </a>
        <a href="/filter?typeRecette%5B%5D=4" id="search-button">
            <div class="type-search_button">
                <img class="type-search_image" src="{{ asset('img/svg/bread-loaf-svgrepo-com.svg') }}">
                <span>Accompagnement</span>
            </div>
        </a>
    </div>

    {% if recettesRapides|length >= 8 %}
        <div class="title_container">
            <h1 class="title_small-padding" id="home-page">Recettes rapides</h1>
            <a id="voir-tout" href="/recettes-rapides">Voir toutes les recettes rapides</a>
        </div>
        <div class="fast-recipe_parent-container">
            <div class="fast-recipe_child1-container">
                {% for i in range(3, 4) %}
                    <a class="recipe_container" href="/recette/{{ recettesRapides[i].id }}">
                        <div class="recipe_image-box">
                            <img class="recommandations_image" src="/recette/{{ recettesRapides[i].id }}/image" alt="Image de {{ recettesRapides[i].nomRec }}">
                        </div>
                        <div class="recipe_title-box">
                            <h5>{{ recettesRapides[i].nomRec }}</h5>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="fast-recipe_child2-container">
                <div class="fast-recipe_child21-container">
                    {% for i in range(5,6) %}
                    <a class="recipe_container" href="/recette/{{ recettesRapides[i].id }}">
                        <div class="recipe_image-box">
                            <img class="recommandations_image" src="/recette/{{ recettesRapides[i].id }}/image" alt="Image de {{ recettesRapides[i].nomRec }}">
                        </div>
                        <div class="recipe_title-box">
                            <h5>{{ recettesRapides[i].nomRec }}</h5>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <div class="fast-recipe_child22-container">
                    <div class="fast-recipe_child221-container">
                        {% for i in range(7,8) %}
                            <a class="recipe_container" href="/recette/{{ recettesRapides[i].id }}">
                                <div class="recipe_image-box">
                                    <img class="recommandations_image" src="/recette/{{ recettesRapides[i].id }}/image" alt="Image de {{ recettesRapides[i].nomRec }}">
                                </div>
                                <div class="recipe_title-box">
                                    <h5>{{ recettesRapides[i].nomRec }}</h5>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="fast-recipe_child222-container">
                        {% for i in range(9,10) %}
                            <a class="recipe_container" href="/recette/{{ recettesRapides[i].id }}">
                                <div class="recipe_image-box">
                                    <img class="recommandations_image" src="/recette/{{ recettesRapides[i].id }}/image" alt="Image de {{ recettesRapides[i].nomRec }}">
                                </div>
                                <div class="recipe_title-box">
                                    <h5>{{ recettesRapides[i].nomRec }}</h5>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
    {% endif %}
    </div>

{% endblock %}
