{% extends 'base.html.twig' %}

{% block title %}Suppression de {{ user.nom }}, {{ user.prenom }}{% endblock %}

{% block body %}
    <h1>Suppression de {{ user.nom }}, {{ user.prenom }}</h1>
    {{ form_start(form, {'attr' : {'class' : 'd-flex'}}) }}

    {{ form_row(form.delete, {'label' : 'Confirmer la supression', 'attr' : {'class' : 'btn btn-primary'} }) }}
    {{ form_row(form.cancel, {'label' : 'Annuler', 'attr' : {'class' : 'btn btn-secondary'} }) }}

    {{ form_end(form) }}

{% endblock %}



