{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.nom }} {{ user.prenom }}{% endblock %}

{% block body %}
    <h1>Profil de {{ user.nom }} {{ user.prenom }}</h1>

    <dl>
        <dt>Prénom</dt><dd>{{ user.prenom }}</dd>
        <dt>Nom</dt><dd>{{ user.nom }}</dd>
        <dt>Email</dt><dd>{{ user.email }}</dd>
        <dt>Pseudo</dt><dd>{{ user.pseudo }}</dd>
        <dt>Date de naissance</dt><dd>{{user.dateNais|date('d/m/Y')}}</dd>
        <dt>Photo de profil</dt><dd>
            <img  src="/user/{{ user.id }}/image" alt="Photo de profil de {{ user.nom }} {{ user.prenom }}" width = 80px height = 80px></dd>
        <dt>Allergenes</dt><dd>
            <ul>
                {% for element in user.allergenes %}
                <li>{{ element.nomAll }}</li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
{% endblock %}



